__pycache__/
.pytest_cache/
.venv/
test-results/
*.log
*.zip
*.pyc
.build-venv/
build/
dist/
installer/output/
installer/build-log.txt
URNA_ESCOLAR_SOURCE/01_SERVIDOR_ADMIN/data/*.db
URNA_ESCOLAR_SOURCE/01_SERVIDOR_ADMIN/data/*.sqlite*
URNA_ESCOLAR_SOURCE/01_SERVIDOR_ADMIN/data/private_key*
URNA_ESCOLAR_SOURCE/01_SERVIDOR_ADMIN/data/*.pem
URNA_ESCOLAR_SOURCE/01_SERVIDOR_ADMIN/data/tls/*.crt
URNA_ESCOLAR_SOURCE/01_SERVIDOR_ADMIN/data/tls/*.key
URNA_ESCOLAR_SOURCE/01_SERVIDOR_ADMIN/data/user_static/
URNA_ESCOLAR_SOURCE/01_SERVIDOR_ADMIN/data/keys/
URNA_ESCOLAR_SOURCE/01_SERVIDOR_ADMIN/data/*.key
URNA_ESCOLAR_SOURCE/01_SERVIDOR_ADMIN/data/*.secret
URNA_ESCOLAR_SOURCE/01_SERVIDOR_ADMIN/data/control.key
